
html,
body,
header,
#intro {
    width: 100%;
    height: 100%;
}
/* .container-fluid {
  padding-right: 0;
  padding-left: 0;
} */
.top-nav-collapse {
  background-color: #202028;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #202028;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #202028;
  }
}
.navbar .dropdown-menu {
  position: static!important;
}
.dropdown-menu {
  background-color: #202028;
}
.navbar .nav-flex-icons {
  flex-direction: column;
  padding-left: 3rem;
}
a:hover {
  color: #FB9803!important;
}
.modal-dialog {
  background-color: transparent;
}
.modal-content {
  width: 100%;
  height: 100vh;
  background-color: transparent;
}
.modal-header {
  background-color: transparent;
  color: white;
}
.modal-body {
  width: 100%;
  height: 100vh;
  background-color: transparent;
}
.modal-footer {
  background-color: transparent;
}
.dropdown-item:hover {
  background-color: transparent;
}
btn-outline-white:hover {
  color: #FB9803!important;
}
.waves-effect.waves-orange .waves-ripple {
  background-color: rgb(251, 152, 3, 0.7);
}
#projects {
  padding-right: 15px;
  padding-left: 15px;
}
.d-flex {
  display: flex;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
form {
  width: 100%;
}
label {
  color: white!important;
  display:block;
  margin-top:20px;
}
form {
    margin:0 auto;
}

/* Style the text boxes */
input {
	width:475px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}
input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
}
textarea {
  height: 100px;
}
input:focus, textarea:focus {
    border:1px solid green;
}

#submit {
    width:127px;
    height:38px;
    border:none;
    margin-top:20px;
    cursor:pointer;
    background-color: green;
    color: white;
}

#submit:hover {
	  opacity:.9;
}
